//fonts
$font-Montserrat: "Montserrat", "Arial", sans-serif;

//resolution
$screen-mobile: 390px;
$screen-tablet: 768px;
$screen-desktop: 1440px;

//colors

$color-text-grey: #888888;
$color-text-turquoise: #10b2d0;
$color-text-blue: #0050ef;
$color-white: #ffffff;
$color-black: #000000;
$color-bg-main: #f6f9ff;
$color-bg-darkblue: #011846;
