//fonts
$font-Montserrat: "Montserrat", "Arial", sans-serif;

//resolution
$screen-mobile: 390px;
$screen-tablet: 768px;
$screen-desktop: 1440px;

//colors

$color-text-grey: #888888;
$color-text-turquoise: #10b2d0;
$color-text-blue: #0050ef;
$color-white: #ffffff;
$color-black: #000000;
$color-bg-main: #f6f9ff;
$color-bg-darkblue: #011846;


// <!-- <article class="articles__item articles-item">
// <p class="articles-item__date">12 июня 2022</p>
// <h4 class="articles-item__title">Заголовок статьи</h4>
// <p class="articles-item__description">
//   Краткое описание статьи или ее начало. Может занимать больше
//   трех строк в высоту. В таком случае предложение заканчивается
//   многоточием...
// </p>
// <p class="articles-item__author">Иван Иванов</p>
// </article>
// <article class="articles__item articles-item">
// <p class="articles-item__date">12 июня 2022</p>
// <h4 class="articles-item__title">Заголовок статьи</h4>
// <p class="articles-item__description">
//   Краткое описание статьи или ее начало. Может занимать больше
//   трех строк в высоту. В таком случае предложение заканчивается
//   многоточием...
// </p>
// <p class="articles-item__author">Иван Иванов</p>
// </article> -->
