@use "../global/variables.scss";
@use "../global/mixins.scss";

.date-range {
  background-color: variables.$color-white;
  border-radius: 10px;

  display: flex;
  align-items: center;

  width: fit-content;

  transition: box-shadow 0.3s ease-out;

  @media (max-width: 837px) {
    width: 335px;
  }

  @media (max-width: 500px) {
    width: 100%;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
}

.date-range__field {
  flex: 1;

  display: flex;
  align-items: center;
}

.date-range__input {
  border: none;
  border-radius: 10px;
  padding: 16px;

  font-family: variables.$font-Montserrat;
  font-weight: 600;
  font-size: 16px;
  color: variables.$color-text-grey;

  width: 157px;

  @media (max-width: 500px) {
    width: 100%;
  }
}

.date-range__separator {
  font-weight: 600;
}
