@use "../global/variables.scss";
@use "../global/mixins.scss";

.hero {
  background-image: linear-gradient(to left, #0050ef 5%, #5991ff 100%);
}

.hero__swiper {
  padding-top: 90px;

  padding-left: clamp(16px, calc((137 / 1440) * 100vw), 137px);
  margin: 0 auto;
  max-width: 1440px;
  width: 100vw;
}

.hero__swiper-pagination {
  text-align: start;
  margin-left: clamp(16px, calc((137 / 1440) * 100vw), 137px);

  transform: translateY(-48px);
}
