@use "../global/variables.scss";
@use "../global/mixins.scss";

.mail-icon {
  font-weight: 500;
  color: variables.$color-text-grey;

  font-size: clamp(14px, 2vw, 16px);

  @media (max-width: 768px) {
    width: 22px;
    height: 22px;
    mask-image: url("../../images/icons/stack.svg#mail");
    background-color: variables.$color-text-grey;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: variables.$color-text-blue;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.mail-icon__text {
  @media (max-width: 768px) {
    display: none;
  }
}
