@use "../global/variables.scss";
@use "../global/mixins.scss";

.select-author {
  display: flex;
  align-items: center;

  position: relative;
  width: fit-content;

  @media (max-width: 500px) {
    width: 100%;
  }
}

.select-author__input {
  border: none;
  background-color: #ffffff;
  appearance: none;
  border-radius: 10px;
  padding: 16px;
  padding-left: 46px;
  width: 335px;

  cursor: pointer;

  font-family: variables.$font-Montserrat;
  font-weight: 600;
  font-size: 16px;
  color: variables.$color-text-grey;

  transition: box-shadow 0.3s ease-out;

  @media (max-width: 500px) {
    width: 100%;
  }

  @media (hover: hover) and (pointer: fine) {

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
}

.select-author::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  @include mixins.pseudo("../../images/icons/vector.svg", 15px, 10px);
  right: 16px;
  position: absolute;
  pointer-events: none;
}

.select-author::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  @include mixins.pseudo("../../images/icons/user.svg", 20px, 20px);
  left: 16px;
  position: absolute;
  pointer-events: none;
}
